<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

    </title>

    <link href="https://fonts.googleapis.com/css?family=Krub:300,400,600,700" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css' />

    <link rel='stylesheet' href='../stylesheets/icons.css' />
</head>

<body>
    <header class="container-fluid background-primary ">
        <div class="row">
            <div class="col-lg-2 logo">
                <h1 class="fontzero">
                    <%= title %>
                        <img src="../images/logo.png" alt="[vincoll]" title="Vincool">
                </h1>
            </div>

            <div class="col-lg-8">
                <ul class="navegation">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="">Quem Somos</a>
                    </li>
                    <li>
                        <a href="">Produto</a>
                    </li>
                    <li>
                        <a href="">Tecnologias</a>
                    </li>
                    <li>
                        <a href="">Equipe</a>
                    </li>
                    <li>
                        <a href="">Fale Conosco</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 main-log">
                <h1 class="name-user">Olá
                    <span>Usuário</span>
                </h1>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="menu-nav">
                    <nav>
                        <ul>
                            <a href="/dashboard">
                                <li>
                                    <div class="barra"></div>
                                    <p class="menu">Dashboard</p>
                                </li>
                            </a>

                            <a href="">
                                <li>
                                    <div class="barra"></div>
                                    <p class="menu">Meu Perfil</p>
                                </li>
                            </a>

                            <a href="">
                                <li>
                                    <div class="barra"></div>
                                    <p class="menu">FAQ</p>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div class="barra"></div>
                                    <p class="menu">Fale com Equipe</p>
                                </li>
                            </a>
                            <a href="/loggof/log">
                                <li>
                                    <div class="barra"></div>
                                    <p class="menu">Sair</p>
                                </li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="box-info">
                    <ul>
                        <li class="fn-out-line-green text-info">
                            <h1>17°C</h1>
                            <p>temp</p>
                        </li>
                        <li class="fn-out-line-blue text-info">
                            <h1>50%</h1>
                            <p>umi</p>
                        </li>
                        <li class="fn-out-line-gray text-info">
                            <h1>15°</h1>
                            <p>méd</p>
                        </li>
                    </ul>
                </div>

                <div style="margin-bottom: 50px !important;"></div>

                <div class="row">
                    <div class="col-lg-7 chart-container" style="position: relative; height:60vh; width:50vw">
                        <canvas class="line-chart"></canvas>
                    </div>
                    <div class="col-lg-4 box-text-graphic">
                        <h1>Gráfico Semanal</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas mollitia magnam magni eveniet quas
                            aperiam eaque atque quae ex! Quibusdam aut, iusto perspiciatis deleniti et aspernatur distinctio
                            alias magnam voluptates?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <h1>Sensor 1</h1>
                        <div class="box-sensor">
                            <h2>12°</h2>
                            <p>TEMPERATURA</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h1>Sensor 2</h1>
                        <div class="box-sensor">
                            <ul>
                                <li>
                                    <h2 id="temp-real"></h2>
                                    <p>TEMPERATURA</p>
                                </li>
                                <li style="margin-left:60px;">
                                    <h2 id="umi-real"></h2>
                                    <p>UMIDADE</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h1>Sensor 3</h1>
                        <div class="box-sensor">
                            <h2>12°</h2>
                            <p>TEMPERATURA</p>
                        </div>
                    </div>
                </div>

                <div class="space"></div>
                <div class="space"></div>

                <div class="row">
                    <div class="col-lg-4 box-text-graphic">
                        <h1>Grafico Mensal</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique cum dicta labore voluptas molestias! Adipisci cupiditate hic rerum itaque fugit maiores debitis! Animi atque accusantium, placeat unde non odio quo.</p>
                    </div>
                    <div class="col-lg-8">
                        <div class=" chart-container" style="position: relative; height:60vh; width:50vw">
                            <canvas class="bar-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="../js/graphi.js"></script>
    
</body>

</html>