<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Krub:300,400,600,700" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css' />

    <link rel='stylesheet' href='../stylesheets/icons.css' />
</head>

<body>
    <div class="container-fluid" style="background: #F00;">
        <div class="row">
            <div class="col-lg-7">
                <nav>
                    <ul>
                        <li>
                            <a href="">Menu</a>
                        </li>
                        <li>
                            <a href="">Menu</a>
                        </li>
                        <li>
                            <a href="">Menu</a>
                        </li>
                        <li>
                            <a href="">Menu</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 boxAdmDados">
                <h1>Usuários Cadastrados</h1>
                <div class="boxDadosBanco">
                    <span>ksks</span>
                </div>
            </div>
            <div class="col-lg-4 boxAdmDados">
                <h1>Usuários Cadastrados</h1>
                <div class="boxDadosBanco">
                    <span>ksks</span>
                </div>
            </div>
            <div class="col-lg-4 boxAdmDados">
                <h1>Usuários Cadastrados</h1>
                <div class="boxDadosBanco">
                    <span class="icons10-user-cad"><p>dskjjsdkjdkdj</p></span>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</body>

</html>