<header class="container-fluid background-primary ">
    <div class="row">
      <div class="col-lg-2 logo">
        <h1 class="fontzero">
          <%= title %>
          <img src="../images/logo.png" alt="[vincoll]" title="Vincool">
        </h1>
      </div>
      
      <div class="col-lg-8">
        <ul class="navegation">
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Quem Somos</a>
          </li>
          <li>
            <a href="">Produto</a>
          </li>
          <li>
            <a href="">Tecnologias</a>
          </li>
          <li>
            <a href="">Equipe</a>
          </li>
          <li>
            <a href="">Fale Conosco</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 main-log">
        <a href="/dashboard" class="btn btn-out-green">LOG IN</a>
      </div>
    </div>
  </header>