/* CSS DE ESTILIZAÇÃO */
*, body{
  margin: 0 auto;
  padding: 0px;

  font-weight: normal;
  font-size: 1em;
  font-family: 'Krub', sans-serif;

  outline: none;
}
/* PALETA DE CORES */
:root{

    /*CORES SECUNDARIAS*/
    --wine: #3b0632;
    --yellow: #e9da04;
    --white: #FFFFFF;
    --black: #202020;
    --green: #1df098;
    --gray: #808080;
    --blue: #1d7ff0;
    /* CORES DE EFEITO */
    --wine_h: #2b0524;
    --yellow_h: #dfd227;
    /* CORES COM EFEITO */
    --wine_opacity: rgb(59,6,50, 0.5);
}
/* GLOBAIS */
.inputs{width: 100%; height: 45px; margin: 15px 0px; padding: 7px; font-size: 1.2em; color: var(--wine); font-weight: normal;}
.space{padding-bottom: 45px;}
.bg-wine{background: var(--wine); color: var(--white);}
.fl_left{float: left;}
.fl_right{float: right;}
.txt_right{text-align: right;}
.anime{opacity: 0; transform: translate3d(-100px, 0, 0); transition: .3s;}
.anime-start{opacity: 1; transform: translate3d(0, 0, 0);}
.fontzero{font-size: 0em;}
.left{float: left;}
/* ACKGROUND SECUNDARIO */
.background-primary{background-color: var(--wine);}
.background-equip{background-image: url("../images/equip.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-position: top;}
/* MENU DE NAVEGAÇÃO */
.logo img{width: 100%; width: 160px;}
.navegation{margin: 30px 0px;}
.navegation li{display: inline; margin: 0px 10px;}
.navegation a{text-transform: uppercase; font-size: 1.5em; color: var(--white); padding: 7px 15px; text-decoration: none; transition: all ease 0.7s;}
.navegation a:hover{background: var(--green); color: #444; font-weight: bold; padding: 20px 15px;}
.main-log a{margin-left: 10px; font-size: 1.7em; margin-top: 25px; padding: 7px 15px; text-transform: uppercase; font-weight: bold; }
.slide-show img{width: 100%;}
/* SECTION QUEM SOMOS */
.header-quemsomos h1{font-size: 5em; font-weight: bold; text-transform: uppercase;}
.header-quemsomos p{font-size: 1.5em; font-weight: normal; padding: 15px; line-height: 175%;}
.pilares-empresa{text-align: center; margin: 25px 0px;}
.pilares-empresa img{width: 100%; max-width: 80px;}
.pilares-empresa h1{font-size: 3em; font-weight: lighter; color: #444; text-transform: uppercase; padding: 5px; text-align: center;}
.pilares-empresa p{font-size: 1.3em; font-weight: normal; color: #444; line-height: 200%;}
/* SECTION PROJETO */
.background-projetc{background-image: url("../images/fundo-wine.jpg"); background-position: center; background-repeat: no-repeat; height: 500px;}
.background-explication-tecnologhy{background-image: url("../images/fundo-arduino.jpg"); background-position: center; background-repeat: no-repeat; height: 500px;}
.explication-project h1, .explication-arduino h1{font-size: 5em; font-weight: bold; color: #444;}
.explication-project p, .explication-arduino p{font-size: 2em; line-height: 200%; padding: 25px;}
.explication-project a{text-align: center; font-size: 2.3em; background: var(--wine); padding: 10px 50px; color: var(--white); font-weight: bold; text-transform: uppercase; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border: 2px solid var(--wine_h); text-decoration: none; display: block; width:  50%; transition: all ease-out 1s;}
.explication-project a:hover{background: var(--white); color: var(--wine_h);}
.explication-arduino a{font-size: 2.3em; font-weight: bold; padding: 10px 50px;}
.box-tecnologias{text-align: center; margin: 20px 0px;}
.box-tecnologias h1{font-size: 4.5em; padding: 10px; color: var(--wine); font-weight: lighter;}
.box-tecnologias p{font-size: 1.2em; font-weight: bold; line-height: 200%;}
/* SECTION COLABORADORES */
.box-user{text-align: center; margin-top: 25px;}
.box-user img{width: 100%; max-width: 120px; border-radius: 100%;}
.box-user h1{font-size: 3em; font-weight: bold;}
.box-user a{font-size: 1.7em; color: var(--wine);}
/* SECTION FALE CONOSCO */
.banner-faleconosco{background: var(--wine);}
.banner-faleconosco h1{font-size: 15em; font-weight: bold; padding: 35px; color: var(--white);}
.banner-faleconosco p{line-height: 175%; padding: 35px; font-size: 1.5em; color: var(--white);} 
.banner-faleconosco .nav-socialmidia a{font-size: 2em; margin: 15px 20px; color: var(--white); font-weight: bold;}
.form-faleconosco label{display: block; font-size: 2.4em; font-weight: normal; margin: 10px 0px;}
.form-faleconosco .inputs{width: 100%; max-width: 550px; height: 45px; padding: 15px; font-size: 1.2em; color: var(--wine); font-weight: normal;}
.form-faleconosco textarea{width: 70%; resize: none; height: 150px;}
.form-faleconosco .inputs:focus, .form-faleconosco textarea:focus{font-weight: bold; border-color: var(--wine_h);}
.form-faleconosco button{width: 45%; height: 45px; font-size: 1.7em; font-weight: bold; margin-top: 20px;}
.nav-socialmidia{margin-bottom: 50px;}
/* AND SITE INSTITUCIONAL */
/* PAGE CADASTRO */
.form-cadastro label{font-size: 1.5em; display: block; font-weight: bold; color: var(--wine); padding-top: 15px;}
.form-cadastro .inputs{max-width: 500px; border: 2px solid #CCC; border-radius: 7px; transition: all ease-in 0.7s; outline: none;}
.form-cadastro .inputs:focus{border-color: var(--wine); border-radius: 0px; font-weight: bold; }
.banner-cadastro img{width: 100%; max-width: 400px; margin-top: 50px; position: fixed;}
/* AND CADASTRO */
/*  PAGE DASHBOARD */
.menu-nav nav{position: fixed; width: 225px;	height: 100%;	background-color: #1f1f1f; left: 0;}
.menu-nav ul{margin-top:150px;	list-style: none;	display: block; margin-left: -40px;}
.menu-nav li{width: 100%;	height:50px;	border-bottom: 1px solid #323232;	overflow: hidden;}
.menu-nav p.menu{position: relative;	padding:16px;	padding-right: 25px;	float:right;	color:white;	opacity: .6;	font-size: 1.2em;	-webkit-transition: opacity .2s;}
.menu-nav div.barra{position: absolute; height: 50px;	width: 0px;	background-color: #aaa;	opacity: .1; -webkit-transition: width .2s;}
.menu-nav li:hover div.barra{width:100%;}
.menu-nav li:hover p.menu{opacity: 1;}
.box-info{float: left; margin-top: 10px; width: 100%;}
.box-info li{display: inline-block; margin: 0px 7px; color: #1f1f1f; width: 30%; padding: 30px; text-align: center; border-radius: 7px; border: 3px solid;;} 
.text-info{display: inline-block; cursor: default;}
.text-info h1{font-size: 4em;}
.text-info p{font-size: 1.5em; text-transform: uppercase;}
.name-user{font-size: 1.5em; color: var(--white); padding-top: 15px;}
.name-user span{font-weight: bold; text-decoration: underline;}
.box-sensor{background-color: var(--wine_opacity); height: 120px; border: 1px solid var(--wine); color: #FFF; padding: 20px; border-radius: 7px;}
.box-sensor ul{list-style: none;}
.box-sensor li{display: inline-block;}
.box-text-graphic h1{text-transform: uppercase; border-bottom: 1px solid #DDD;}
.box-text-graphic p{font-size: 1.4em; line-height: 200%;}
/* BUTONS, FUNDOS DEFINIDOS */
.btn-out-green{background: transparent; color: var(--green); border-color: var(--green); transition: all ease-out 1s;}
.btn-out-green:hover{background: var(--green); color: var(--white);}
.btn-out-green:focus{background: var(--green); color: var(--white);}
.btn-yellow{background: var(--yellow); color: var(--white);}
.btn-yellow:hover{background: var(--yellow_h); color: var(--white);}

.fn-out-line-green{border-color: var(--green) !important; color: var(--green) !important;}
.fn-out-line-green:hover{background: var(--green); color: var(--white) !important;}
.fn-out-line-blue{border-color: var(--blue) !important; color: var(--blue) !important;}
.fn-out-line-blue:hover{background: var(--blue); color: var(--white) !important;}
.fn-out-line-gray{border-color: var(--gray) !important; color: var(--gray) !important;}
.fn-out-line-gray:hover{background: var(--gray); color: var(--white) !important;}

/* TEXT STYLE */
.title-big{font-size: 7em; font-weight: bold;}